.automation-overlay.in {
    display: block !important;
}

.automation-panel {
    z-index: 200;
}

.clicked {
    position: relative !important;
    z-index: 200 !important;
}

/*.highlighted:not(.clicked) {*/
/*    background: none;*/
/*    border: 2px dashed var(--bs-primary-border-subtle);*/
/*}*/
