.highlighted:not(.clicked) {
  background: linear-gradient(
      90deg,
      var(--bs-primary-border-subtle) 50%,
      transparent 50%
    ),
    linear-gradient(90deg, var(--bs-primary-border-subtle) 50%, transparent 50%),
    linear-gradient(0deg, var(--bs-primary-border-subtle) 50%, transparent 50%),
    linear-gradient(0deg, var(--bs-primary-border-subtle) 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 16px 2px, 16px 2px, 2px 16px, 2px 16px;
  background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
  border-radius: 5px;
  animation: dash 30s linear infinite;
  cursor: pointer;
}

.clicked {
  border: 2px solid var(--bs-success-border-subtle);
  border-radius: 5px;
}

@keyframes dash {
  to {
    background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
  }
}
